<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela inicial dessa bomba</title>
</head>
<body>
    <h3>Ol치 tudo bom gostaria de estar aqui para caso nunca tenha usado nosso site na sua vida</h3>
    <br>
    <h3>Seria interresante para n칩s que possa realizar o cadastro ao clicar no link abaixo</h3>
    <br>
    <a href="/cadastro">Cadastro</a>
    <br>
    <br>
    <h3>Caso j치 tenha se cadastrado em nosso site pode vir em login para j치 entrar em nosso site</h3>
    <a href="/login">Login</a>
</body>
</html>